html{
    font-size: 62.5%;
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
}

.homepage {
    background-color: #413C58;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Press Start 2P';
    color: #feeafa;
    font-size: 20;
}

.start {
    background-color: #D6DBFF;
    font-family: 'Press Start 2P';
    color: #413C58;
    font-size: 20;
    height: 10%;
    width: 15%;
    border-radius: 20%;
}

.choice{
    display: block;
}
.question-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 3rem auto;
    width: 90vw;
}
.question{
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    padding: 2rem;
    width: 30vw;
    border: black;
    border-style: dotted;
}
.answer-text{
    margin: 2rem;
}
.button-box{
    height:10rem;
    z-index: -5;

}
.button{
}